language: node_js
node_js:
  - "stable"

branches:
  only:
    - gh-pages

cache:
  yarn: true
  directories:
    - node_modules

script:
  - yarn build
  - sed -i '' '/^App.js$/d' .gitignore

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: gh-pages
